themathar_game/assets/pairs/**/*.jpg filter=lfs diff=lfs merge=lfs -text
themathar_game/assets/pairs/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
themathar_game/assets/pairs/**/*.png filter=lfs diff=lfs merge=lfs -text
